<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h3 align=center>List to Set </h3>

Cast the following list to a set:

In [10]:
lis=['A','B','C','A','B','C']
S= set(lis)
print(S)

{'A', 'B', 'C'}

<details><summary>Click here for the solution</summary>

```python
set(['A','B','C','A','B','C'])

```

</details>

<h3 align=center>Add an Element to the Set</h3>

Add the string  <code>'D'</code> to the set S

In [13]:
S={'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

<details><summary>Click here for the solution</summary>

```python
S.add('D')
S

```

</details>

<h3 align=center>Intersection</h3>

Find the intersection of set <code>A</code> and <code>B</code>

In [14]:
A={1,2,3,4,5}
B={1,3,9, 12}
A&B

{1, 3}

<details><summary>Click here for the solution</summary>

```python
A & B

```

</details>

<hr>

<h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>